In [1]:
#IMPORTING LIBRARIES

import pandas as pd
import numpy as np

In [2]:
#CREATING FILE PATHS

ath_file_path = "athletes.csv"
coaches_file_path = "coaches.csv"
medals_file_path = "medals_total.csv"
medallists_file_path = "medallists.csv"

In [3]:
#IMPORTING ORIGINAL CSV DATA

raw_coaches = pd.read_csv(coaches_file_path)
raw_athlets = pd.read_csv(ath_file_path)
raw_medals = pd.read_csv(medals_file_path)
raw_medallists = pd.read_csv(medallists_file_path)

In [4]:
#viewing raw coaches data

raw_coaches_df = pd.DataFrame(raw_coaches)
#raw_coaches.head(10)
raw_coaches.dtypes

#raw_coaches.dropna()

code             int64
name            object
gender          object
function        object
category        object
country_code    object
country         object
country_full    object
disciplines     object
events          object
dtype: object

In [5]:
raw_coaches.columns
raw_coaches['name'] = raw_coaches['name'].astype('string')
raw_coaches.dropna()

,code,name,gender,function,category,country_code,country,country_full,disciplines,events
0,1533246,PEDRERO Ofelia,Female,Coach,C,MEX,Mexico,Mexico,Artistic Swimming,Team
1,1535775,RADHI SHENAISHIL,Male,Head Coach,C,IRQ,Iraq,Iraq,Football,Men
5,1536328,LOFTUS Adriana,Female,Coach,C,MEX,Mexico,Mexico,Artistic Swimming,Team
7,1538315,GULLA Alejandra,Female,Assistant Coach,C,ARG,Argentina,Argentina,Hockey,Women
16,1540522,MILANO Guillermo,Male,Head Coach,C,ARG,Argentina,Argentina,Handball,Men
...,...,...,...,...,...,...,...,...,...,...
968,9230017,CAAMANO Juan,Male,Assistant Coach,C,ESP,Spain,Spain,Handball,Men
969,9230018,TORRESCUSA Ignacio,Male,Assistant Coach,C,ESP,Spain,Spain,Handball,Men
970,9230020,GJERDE Joar,Male,Assistant Coach,C,NOR,Norway,Norway,Handball,Women
972,9430008,CICHELLO Juan Manuel,Male,Assistant Coach,C,ITA,Italy,Italy,Volleyball,Women
973,9450042,VASSILIADES Emmanuel,Male,Assistant Coach,C,GRE,Greece,Greece,Water Polo,Men

In [6]:
#CREATING A COPY, NEW DATAFRAME AND CSV FOR FURTHER ANALYSIS

raw_coaches_df.copy()

coaches_filter = raw_coaches.drop(columns=['category'])
coach_info_df = pd.DataFrame(coaches_filter)

coach_info_df.to_csv('coach_info.csv', index=False, encoding='utf8')

In [7]:
#RAW DATA VIEWING

raw_athlets_df = pd.DataFrame(raw_athlets)
#raw_athlets_df.head(10)
raw_athlets.dropna()

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
2025,1568874,KRISTO Katarina,KRISTO K,Katarina KRISTO,Female,Athlete,CRO,Croatia,Croatia,Croatia,...,"Father, Tadija. Mother, Ivana. Younger sister,...","Croatian, English",Personal: Josip Baric (CRO).<br>National: Vlad...,"""I was a hyperactive kid and wanted to train m...","Judoka Tina Trstenjak (SLO), two-time Olympic ...","Her family friend Mate. ""He was with me throug...","""Get 1% better every day."" (Athlete, 20 Mar 2024)",Grandmother was a gymnastics national champion...,She talks to herself and prays when things get...,"Tennis, gymnastics, swimming, athletics, saili..."
2977,1891289,AGBEGNENOU Clarisse,AGBEGNENOU C,Clarisse AGBEGNENOU,Female,Athlete,FRA,France,France,France,...,"Partner, Thomas Grava. Daughter, Athena (2022)...","English, French",National: Ludovic Delacotte (FRA).</p><p>Club:...,"""At school I was always hyperactive. A teacher...",My mother.</p><p>Tennis player Serena Williams...,"""Ahcène Goudjil because he was with me when I ...","""If you want something, go for it and never li...","Brother, Joris (judo), represents France in th...","""Where there's a will there's a way, but you h...","""I tried a lot of sports and had to choose bet..."
3777,1898335,REID Emma,REID E,Emma REID,Female,Athlete,GBR,Great Britain,Great Britain,Great Britain,...,"Boyfriend, Kieran Allsopp. Father, Iain. Mothe...",English,Club: Steve Sandy.<br>National: Jamie Johnson ...,"""My mum took me down to a club as her and my d...","Judoka Sally Conway (GBR), 2016 Olympic bronze...","Her mother. ""I have learnt a lot from her and ...","""Never give up."" (Athlete, 6 Jun 2024)","Mother, Lesley Reid (judo), bronze medallist a...","""I don’t really have rituals as I don’t like t...",Gymnastics: Competed at national level until 2010
4960,1910689,GERCSAK Szabina,GERCSAK S,Szabina GERCSAK,Female,Athlete,HUN,Hungary,Hungary,Hungary,...,"Mother, Csuka Bernadett. Older Brother, Dávid....","English, German, Hungarian",National: Akos Braun (HUN),Because her older brother started and she want...,"Judoka Ryoko Tamura-Tani (JPN), one of the few...","""My mother, because she is a hero. She was fig...","""Work hard, fall down, get up, and try again. ...","""My father did judo but he did not get results...","""Praying, always washing my judogi and my belt...","""At school I did some wrestling, football, han..."
4999,1911113,UNGVARI Attila,UNGVARI A,Attila UNGVARI,Male,Athlete,HUN,Hungary,Hungary,Hungary,...,Has four older sisters and four older brothers,"English, Hungarian",Club: Kovacs Sandor (Club Budaörsi).</p><p>Nat...,"""Because of my older brother Miklos, he was al...","""My idol is definitely my mother. She is a ver...","""My mother - who else?""","""The bad news is time flies, the good news is ...","Brother, Miklos Ungvari (judo), silver medalli...","""Always wearing the same clothes for warm-up.""...",He wrestled when he was young
6047,1925346,SCUTTO Assunta,SCUTTO A,Assunta SCUTTO,Female,Athlete,ITA,Italy,Italy,Italy,...,"Partner, Kevyn Perna. Father, Domenico. Mother...",Italian,Antonio Ciano (ITA),"""To be able to beat my cousin and play with hi...","""My only hero/idol is God."" (Athlete, 22 Mar 2...","br>""Kevyn Perna, my boyfriend, is always by my...","br>""I can do all things through him who gives ...","Partner, Kevyn Perna (judo), competes for Ital...","""I pray to God to help me be a warrior."" (Athl...",To win the Olympic Games and the World Champio...
7177,1938655,PACHECO ESPINOSA Nicolas,PACHECO ESPINOSA N,Nicolas PACHECO ESPINOSA,Male,Athlete,PER,Peru,Peru,Peru,...,"Father, Rodolfo. Mother, Lucia. Younger brothe...","English, Italian, Spanish",National: Simone Gissi (ITA).<br>Personal: Die...,"Through his family. His father, grandfather an...","Footballer Claudio Pizarro (PER), Champions Le...",His two grandparents,"""See an opportunity in every difficulty."" (Ath...","Younger brother, Matias Pacheco (football), pl...",Listens to music during competitions,Motorsport (drifting): Has competed in the Per...
8503,1951567,SAVNER Jessica,SAVNER J,Jessica SAVNER,Female,Athlete,USA,United States,United States of America,United States,...,"Husband, Ray Savner (married September 2021). ...",English,Personal: Justin Trolle (USA),"Raised in an athletic family, her mother, a pr...","Rock climber Alex Honnold (USA), known for his...","Her parents, Brad and Laura. ""They were both e...","""[Olympians are] not motivated every single da...","Husband, Ray Savner (swimming), competed for B...",Post competition meal is burger and fries,"Fencing: In July 2023, she won the Division 1A..."
8967,1955528,PORTUONDO ISASI Ana Laura,PORTUONDO ISASI AL,Ana Laura PORTUONDO ISASI,Female,Athlete,CAN,Canada,Canada,Canada,...,"Father, Luis Guillermo Portuondo Fernandez. Mo...","English, French, Spanish",Faycal Bousbiat (CAN),"Previously a gymnast, her father wanted his da...","Judoka Kayla Harrison (USA), two-time Olympic ...","Coach Faycal Bousbiat (CAN). ""He's one of the ...","""Former national coach Jeremy Lebris (CAN) use...","Sister, Adriana Portuondo Isasi (judo), compet...","""Visualisation. Law of attraction. I believe i...","She started doing gymnastics, and then played ..."
9885,1967216,PRINCE Nichelle,PRINCE N,Nichelle PRINCE,Female,Athlete,CAN,Canada,Canada,Canada,...,"Father, Fabian (deceased 2020). Mother, Robin....",English,National: Bev Priestman (GBR),"""Before my first game I actually cried my whol...","Footballer Christine Sinclair (CAN), three-tim...",Inspired by footballer Christine Sinclair (CAN...,"""Life begins at the end of your comfort zone.""...","Sister, Kendra Prince (football), played for t...",Eats oatmeal the morning of every game because...,Athletics: Competed in her youth in track and ...
10425,1974242,PRICE Madeline,PRICE M,Madeline PRICE,Female,Alternate Athlete,CAN,Canada,Canada,Canada,...,"Fiance, TJ Pura. Mother, Sarah. Father, Shawn....",English,Personal: Mark Mueller,"""I loved competing from a young age because I ...","Her father, Shawn Price. ""Getting to watch him...","Her mother. ""My mum has encouraged my sister a...","""Day by day.""</p><p>""Fight well."" (Athlete, 25...","Father, Shawn Price (car racing), was a profes...",Has a stuffed horse named Lucky that she used ...,Played club and high school basketball until h...

In [8]:
#CREATING A COPY, NEW DATAFRAME AND CSV FOR FURTHER ANALYSIS 

raw_athlets_df.copy()
raw_athlets_df.dropna()
raw_athlets_df['name'] = raw_athlets_df['name'].astype('string')
raw_athlets_df['coach'] = raw_athlets_df['coach'].astype('string')
raw_athlets_df['birth_date'] = pd.to_datetime(raw_athlets_df['birth_date'])
athletes_filter = raw_athlets_df[["code", "name", "name_tv", "country_code", "country", "country_full", "height", "weight", "disciplines", "events","birth_date", "coach"]]
athletes_filter.dropna()
athletes_df = pd.DataFrame(athletes_filter)

athletes_df.head(10)

#athletes_df.to_csv('athletes_data.csv', index=False, encoding='utf8')

,code,name,name_tv,country_code,country,country_full,height,weight,disciplines,events,birth_date,coach
0,1532872,ALEKSANYAN Artur,Artur ALEKSANYAN,ARM,Armenia,Armenia,0,0.0,['Wrestling'],"[""Men's Greco-Roman 97kg""]",1991-10-21,"Gevorg Aleksanyan (ARM), father"
1,1532873,AMOYAN Malkhas,Malkhas AMOYAN,ARM,Armenia,Armenia,0,0.0,['Wrestling'],"[""Men's Greco-Roman 77kg""]",1999-01-22,<NA>
2,1532874,GALSTYAN Slavik,Slavik GALSTYAN,ARM,Armenia,Armenia,0,0.0,['Wrestling'],"[""Men's Greco-Roman 67kg""]",1996-12-21,Personal: Martin Alekhanyan (ARM).<br>National...
3,1532944,HARUTYUNYAN Arsen,Arsen HARUTYUNYAN,ARM,Armenia,Armenia,0,0.0,['Wrestling'],"[""Men's Freestyle 57kg""]",1999-11-22,National: Habetnak Kurghinyan
4,1532945,TEVANYAN Vazgen,Vazgen TEVANYAN,ARM,Armenia,Armenia,0,0.0,['Wrestling'],"[""Men's Freestyle 65kg""]",1999-10-27,National: Habetnak Kurghinyan (ARM)
5,1532951,ARENAS Lorena,Lorena ARENAS,COL,Colombia,Colombia,162,0.0,['Athletics'],"[""Women's 20km Race Walk"", 'Marathon Race Walk...",1993-09-17,Personal: Brent Vallance (AUS)
6,1533112,McKENZIE Ashley,Ashley McKENZIE,JAM,Jamaica,Jamaica,0,0.0,['Judo'],['Men -60 kg'],1989-07-17,Personal and National: Luke Preston (GBR)
7,1533136,BASS BITTAYE Gina Mariam,Gina Mariam BASS BITTAYE,GAM,Gambia,Gambia,161,0.0,['Athletics'],"[""Women's 100m"", ""Women's 200m""]",1995-05-03,Personal: Christophe Belliard (FRA)
8,1533176,CAMARA Ebrahima,Ebrahima CAMARA,GAM,Gambia,Gambia,178,0.0,['Athletics'],"[""Men's 100m""]",1996-09-18,Personal: Christophe Belliard (FRA)
9,1533188,RUEDA SANTOS Lizeth,Lizeth RUEDA SANTOS,MEX,Mexico,Mexico,0,0.0,['Triathlon'],"[""Women's Individual""]",1994-03-07,Personal: Eugenio Chimal (MEX)

In [9]:
#RAW DATA VIEW AND SAVING TO CSV

raw_medals_df = pd.DataFrame(raw_medals)
raw_medals_df.head(10)

raw_medals_df.to_csv('medal_count.csv', index=False, encoding='utf8')

In [10]:
#VIEWING RAW DATA

raw_medallists_df = pd.DataFrame(raw_medallists)
raw_medallists_df.head(10)

,medal_date,medal_type,medal_code,name,gender,country,country_code,nationality,team,team_gender,discipline,event,event_type,url_event,birth_date,code
0,2024-07-27,Gold Medal,1,EVENEPOEL Remco,Male,Belgium,BEL,Belgium,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136
1,2024-07-27,Silver Medal,2,GANNA Filippo,Male,Italy,ITA,Italy,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520
2,2024-07-27,Bronze Medal,3,van AERT Wout,Male,Belgium,BEL,Belgium,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147
3,2024-07-27,Gold Medal,1,BROWN Grace,Female,Australia,AUS,Australia,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173
4,2024-07-27,Silver Medal,2,HENDERSON Anna,Female,Great Britain,GBR,Great Britain,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525
5,2024-07-27,Bronze Medal,3,DYGERT Chloe,Female,United States,USA,United States,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1997-01-01,1955079
6,2024-07-27,Gold Medal,1,OH Sanguk,Male,Korea,KOR,Korea,NaN,NaN,Fencing,Men's Sabre Individual,HATH,/en/paris-2024/results/fencing/men-s-sabre-ind...,1996-09-30,1927149
7,2024-07-27,Silver Medal,2,FERJANI Fares,Male,Tunisia,TUN,Tunisia,NaN,NaN,Fencing,Men's Sabre Individual,HATH,/en/paris-2024/results/fencing/men-s-sabre-ind...,1997-07-22,1937783
8,2024-07-27,Bronze Medal,3,SAMELE Luigi,Male,Italy,ITA,Italy,NaN,NaN,Fencing,Men's Sabre Individual,HATH,/en/paris-2024/results/fencing/men-s-sabre-ind...,1987-07-25,1924595
9,2024-07-27,Gold Medal,1,KONG Man Wai Vivian,Female,"Hong Kong, China",HKG,"Hong Kong, China",NaN,NaN,Fencing,Women's Épée Individual,HATH,/en/paris-2024/results/fencing/women-s-epee-in...,1994-02-08,1963262

In [11]:
raw_medallists_df.dropna()
#raw_medals_df.to_csv('medal_count.csv', index=False, encoding='utf8')

,medal_date,medal_type,medal_code,name,gender,country,country_code,nationality,team,team_gender,discipline,event,event_type,url_event,birth_date,code
769,2024-07-27,Gold Medal,1,CHANG Yani,Female,China,CHN,China,People's Republic of China,W,Diving,Women's Synchronised 3m Springboard,TEAM,/en/paris-2024/results/diving/women-s-synchron...,2001-12-07,1901539
770,2024-07-27,Gold Medal,1,CHEN Yiwen,Female,China,CHN,China,People's Republic of China,W,Diving,Women's Synchronised 3m Springboard,TEAM,/en/paris-2024/results/diving/women-s-synchron...,1999-06-15,1901538
771,2024-07-27,Silver Medal,2,BACON Sarah,Female,United States,USA,United States,United States of America,W,Diving,Women's Synchronised 3m Springboard,TEAM,/en/paris-2024/results/diving/women-s-synchron...,1996-09-20,1954159
772,2024-07-27,Silver Medal,2,COOK Kassidy,Female,United States,USA,United States,United States of America,W,Diving,Women's Synchronised 3m Springboard,TEAM,/en/paris-2024/results/diving/women-s-synchron...,1995-05-09,1954168
773,2024-07-27,Bronze Medal,3,HARPER Yasmin,Female,Great Britain,GBR,Great Britain,Great Britain,W,Diving,Women's Synchronised 3m Springboard,TEAM,/en/paris-2024/results/diving/women-s-synchron...,2000-07-28,1900841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266,2024-08-11,Bronze Medal,3,BOWEN Alex,Male,United States,USA,United States,United States of America,M,Water Polo,Men,HTEAM,/en/paris-2024/results/water-polo/men/fnl-0002...,1993-09-04,1908350
2267,2024-08-11,Bronze Medal,3,DODD Chase William,Male,United States,USA,United States,United States of America,M,Water Polo,Men,HTEAM,/en/paris-2024/results/water-polo/men/fnl-0002...,2003-04-05,1908354
2268,2024-08-11,Bronze Medal,3,DODD Ryder,Male,United States,USA,United States,United States of America,M,Water Polo,Men,HTEAM,/en/paris-2024/results/water-polo/men/fnl-0002...,2006-01-19,1908355
2269,2024-08-11,Bronze Medal,3,IRVING Max,Male,United States,USA,United States,United States of America,M,Water Polo,Men,HTEAM,/en/paris-2024/results/water-polo/men/fnl-0002...,1995-05-21,1908361
2270,2024-08-11,Bronze Medal,3,HOLLAND Drew,Male,United States,USA,United States,United States of America,M,Water Polo,Men,HTEAM,/en/paris-2024/results/water-polo/men/fnl-0002...,1995-04-11,1908359

In [12]:
#CREATING A COPY, NEW DATAFRAME AND CSV FOR FURTHER ANALYSIS 

medallists = raw_medallists.copy()
medallists['name'] = medallists['name'].astype('string')
medallists['birth_date'] = pd.to_datetime(medallists['birth_date'])
medallists_filter = medallists[["medal_type", "medal_code", "name", "country", "country_code", "nationality", "discipline", "event", "birth_date", "code"]]
medallists_df = pd.DataFrame(medallists_filter)
medallists_df.head(10)

medallists_df.to_csv('medallist_info.csv', index=False, encoding='utf8')

In [13]:
medallists_df.dtypes

medal_type              object
medal_code               int64
name            string[python]
country                 object
country_code            object
nationality             object
discipline              object
event                   object
birth_date      datetime64[ns]
code                    object
dtype: object